.Loginform-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../Assets/BOC.webp");
    background-size: cover;
}

.Loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 500px;
    height: 600px;
    background-color: transparent;
    box-shadow: 0 20px 30px  black;
}

.Loginform h2{
    margin-bottom: 20px;
    font-size: 40px;
    color: black;
    /* text-decoration: underline; */
    font-weight: bold;
}