.his-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
}

.his-head{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 75%;
    height: 80vh;
}

.his-table{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 247);
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 20px 30px  rgba(0, 0, 0, 0.15);
}

.his-table th {
    background-color: #007BFF;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 15px;
}

.his-table td{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 15px;
}

.his-table td{
     border-bottom: 1px solid #ddd;
    font-size: 15px;
    color: #333;
}

.his-head h1{
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px;
}

.select-container select{
    width: 30%;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
}